<script type="text/javascript">
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Monthly Average Temperature',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: WorldClimate.com',
                x: -20
            },
            xAxis: {
                categories: ['2013']
            },
            yAxis: {
                title: {
                    text: 'Temperature (°C)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' Users'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'Following',
                data: [<%= current_user.friends %>]
            }, {
                name: 'Followers',
                data: [<%= current_user.followers %>]
            }]
        });
    });
    
</script>
<div class="contAzul">
  <div class="container">
    <div class="span12">
      <figure id="contImg">
        <%=image_tag current_user.image, :class => "img-circle", :width => "230" %>
      </figure>
      <div class="contDatos">
        <h3><%= current_user.name %></h3>
        <p id="location"><%= current_user. location %></p>
        <p id="desc"><%= current_user.description %></p>
        <div class="row">
          <div class="span2">
            <h5>
              Siguiendo
            </h5>
            <p><%= current_user.friends %></p>
          </div>
          <div class="span2">
            <h5>
              Seguidores
            </h5>
            <p><%= current_user.followers %></p>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
<div id="contServ">
  <div class="container">
    <div id="container"></div>
  </div>
</div>

