<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>


<script type="text/javascript">
    $(function () {

    $('#spider').highcharts({
                
        chart: {
            polar: true,
            type: 'line'
        },
        
        title: {
            text: 'Ranking de categorias',
            x: -80
        },
        
        pane: {
            size: '80%'
        },
        
        xAxis: {
            categories: ['<%=@category[0]%>', '<%=@category[1]%>', '<%=@category[2]%>', '<%=@category[3]%>', 
                    '<%=@category[4]%>', '<%=@category[5]%>'],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },
            
        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },
        
        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
        },
        
        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 100,
            layout: 'vertical'
        },
        
        series: [{
            name: '@<%= current_user.username %>',
            data: ['<%=@rankin[0]%>', '<%=@rankin[1]%>', '<%=@rankin[2]%>', '<%=@rankin[3]%>','<%=@rankin[4]%>', '<%=@rankin[5]%>'],
            pointPlacement: 'on'
        }]
    
    });
});
</script>
<script  type="text/javascript">
    $(function () {
        $('#container2').highcharts({
            chart: {
                type: 'area'
            },
            title: {
                text: 'Historic and Estimated Worldwide Population Growth by Region'
            },
            subtitle: {
                text: 'Source: Wikipedia.org'
            },
            xAxis: {
                categories: ['1750', '1800', '1850', '1900', '1950', '1999', '2050'],
                tickmarkPlacement: 'on',
                title: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    text: 'Billions'
                },
                labels: {
                    formatter: function() {
                        return this.value / 1000;
                    }
                }
            },
            tooltip: {
                shared: true,
                valueSuffix: ' millions'
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            series: [{
                name: 'Asia',
                data: [502, 635, 809, 947, 1402, 3634, 5268]
            }, {
                name: 'Africa',
                data: [106, 107, 111, 133, 221, 767, 1766]
            }, {
                name: 'Europe',
                data: [163, 203, 276, 408, 547, 729, 628]
            }, {
                name: 'America',
                data: [18, 31, 54, 156, 339, 818, 1201]
            }, {
                name: 'Oceania',
                data: [2, 2, 2, 6, 13, 30, 46]
            }]
        });
    });
    

</script>

<div class="contAzul">
  <div class="container">
    <div class="span12">
      <figure id="contImg">
        <%=image_tag current_user.image, :class => "img-circle", :width => "230" %>
      </figure>
      <div class="contDatos">
        <h3><%= current_user.name %></h3>
        <p id="location"><%= current_user. location %></p>
        <p id="desc"><%= current_user.description %></p>
        <div class="row">
          <div class="span2">
            <h5>
              Siguiendo
            </h5>
            <p><%= current_user.friends %></p>
          </div>
          <div class="span2">
            <h5>
              Seguidores
            </h5>
            <p><%= current_user.followers %></p>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
<div id="contServ">
  <div class="container">
    <div id="spider" style="width: 700px; height: 400px; margin: 0 auto"></div>
    <div id="container2" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
  </div>
</div>

