<script type="text/javascript">
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Monthly Average Temperature',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: WorldClimate.com',
                x: -20
            },
            xAxis: {
                categories: ['2013']
            },
            yAxis: {
                title: {
                    text: 'Temperature (°C)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' Users'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'Following',
                data: [<%= current_user.friends %>]
            }, {
                name: 'Followers',
                data: [<%= current_user.followers %>]
            }]
        });
    });
    
</script>
<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<h3><%=image_tag current_user.image %></h3>
<h3><%= current_user.name %></h3>
<h3><%= current_user.description %></h3>
<h3><%= current_user.location %></h3>
<h3><%= current_user.followers %></h3>
<h3><%= current_user.friends %></h3>
