<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :raking %><br />
    <%= f.text_field :raking %>
  </div>
  <fieldset>

    <div class="field">
    <%= f.fields_for :subcategories do |build|%>
      <%= build.label :name %>
      <%= build.text_field :name  %> <br>
      <%= build.label :raking %>
      <%= build.text_field :raking %>
    <% end -%>
  </div>

  </fieldset>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
