<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Raking</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.raking %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Ranking'
            },
            subtitle: {
                text: '.'
            },
            xAxis: {
                categories: [
<% @categories.each do |category| %>
    '<%= category.name %>',
<% end %>
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: '.'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Ranking',
                data: [
<% @categories.each do |category| %>
<%= category.raking %>,
<% end %>
]
            }]
        });
    });
    
</script>
<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
