<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <% if user_signed_in? %>
    <ul class="nav">
      <li>
        <%= link_to 'Perfil', root_path %>
      </li>
      <li>
        <%= link_to 'Campañas', campaigns_path %>
      </li>
      <li>
        <%= link_to 'Crear campaña', new_campaign_path %>
      </li>
    </ul>
    <% end %>
    <ul class="nav pull-right">
    <% if user_signed_in? %>
      <li>
        <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
      </li>
    <% else %>
      <li>
        <i class="icon-login"></i>
        <%= link_to 'Login',  user_omniauth_authorize_path(:twitter), :class => 'login-btn'%>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li>
        <%= link_to 'Edit account', edit_user_registration_path %>
      </li>
    <% else %>
    <% end %>
    </ul>
  </div>
</div>
