<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Personalis" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Personalis" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
        <%= render 'layouts/navigation' %>
      <header>
       
      </header>
            <%= yield %>
        </div>
      </div>
      <footer>
        <div class="row">
          <div class="span9 pull-right">
            <div class="span2">
              <h4>Siguenos en</h4>
            </div>
            <div class="span1" id="icon-twitter">
            </div>
            <div class="span2">
              <p>@tupersonalis</p>
            </div>
            <div class="span1" id="icon-face">
            </div>
            <div class="span2">
              <p>@tupersonalis</p>
            </div>
          </div>
        </div>
      </footer>
  </body>
</html>
